*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body h1{
    text-align: center;
    margin-top: 100px;
    
}
.keys{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    height: 400px;
    gap: 12px;
}
.keys .key{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #000B76;
    padding: 15px;
    border-radius: 25px;
    transition: all 0.1s;
}
.keys .key kbd{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
}
.keys .key span{
    font-weight: 600;
}
.playing{
    transform: scale(1.3);
    background-color: #000c7621;

}